.tela-login{
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url('../images/capa-login.jpg');
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.titulo-logo{
    font-family: Arial;
    color: #e50914;
    font-size: 50px;
    margin: 10px 0 20px 30px;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-login{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    align-items: center;
    height: 650px;
    width: 450px;
}

.form-login h2{
    font-size: 32px;
    margin: 60px 225px 30px 0
}

.input-login, button{
    background-color:rgba(59, 57, 57, 0.8);
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.botao-entrar{
    background-color:#e50914;
    margin-top: 30px;
    cursor: pointer;
}

.form-login .lembrar-user{
    font-size: 12px;
    color: gainsboro;
}

.form-login .lembrar-user a{
    color: gainsboro;
    margin-left: 95px;
}

.form-login a{
    text-decoration: none;
}

.form-login .conectar-face{
    font-size: 12px;
    color:gainsboro;
    margin-right: 154px;
    margin-top: 50px;
}

.conectar-face a {
    color: rgba(190, 186, 186, 0.699);
}

.form-login .assine-agora{
    color: rgba(190, 186, 186, 0.699);
    margin-top: 20px;   
    margin-right: 100px;
}

.assine-agora a{
    color: white;
}

.form-login .confirme-robo{
    color: rgba(190, 186, 186, 0.699);
    font-size: 13px;
    width: 70%;
    margin-top: 20px;
    margin-left: 12px;
}


