.tela-login{
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url('../images/capa-login.jpg');
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.titulo-logo{
    font-family: Arial;
    color: #e50914;
    font-size: 50px;
    margin: 10px 0 20px 30px;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-login{
    display: flex;
    flex-direction: column;
    background-color: #000000b3;
    border-radius: 5px;
    align-items: center;
    height: 650px;
    width: 450px;
}

.form-login h2{
    font-size: 32px;
    margin: 60px 225px 30px 0
}

.input-login, button{
    background-color:#3b3939cc;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
}

.botao-entrar{
    background-color:#e50914;
    margin-top: 30px;
    cursor: pointer;
}

.form-login .lembrar-user{
    font-size: 12px;
    color: #dcdcdc;
}

.form-login .lembrar-user a{
    color: #dcdcdc;
    margin-left: 95px;
}

.form-login a{
    text-decoration: none;
}

.form-login .conectar-face{
    font-size: 12px;
    color:#dcdcdc;
    margin: 50px 154px 0 0;
   
}

.conectar-face a {
    color: #bebabab2;
}

.form-login .assine-agora{
    color: #bebabab2;
    margin: 20px 100px 0 0 ;
}

.assine-agora a{
    color: #ffffff;
}

.form-login .confirme-robo{
    color: #bebabab2;
    font-size: 13px;
    width: 70%;
    margin: 20px 0 0 12px;
}
