:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*caixas Serie principal*/

.serie-principal{
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,.40) 100%), url('../images/capa-peaky.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: #fff;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 10pt;

    cursor: pointer;
    transition: .5s ease all;
}

.botao i{
    margin-right: 6px;
}

.botao:hover{
    background-color: #fff;
    color: #000000;
}

.container{
    margin: 20px;
}

.serie-principal .container{
    width: 70%;
}

/*carosel series*/
.titulo-carousel{
    font-weight: bolder;
    font-size: 22px;
    margin-left: 20px;
}

.box-series{
    height: 100%;
    width: 100%;
    display: block;
    transition: all .2s ease-in;
}

.carousel-series{
    margin-top: 5px;
}

.item :hover{ 
    cursor: pointer;
    transform: scale(1.1);
}
