/*interface principal*/
@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .serie-principal{
        margin-bottom: 20px;
        background-position: center;
    }

    .titulo {
        font-size: 24px;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    .serie-principal .descricao{
        font-size: 16px;
    }

    .carousel-series .titulo-carousel {
        font-size: 18px;
    }
}

@media screen and (min-width: 1000px) {
    .serie-principal .descricao{
        width: 60%;
    }
}

/*interface login*/
@media screen and (max-width: 450px) {
    .tela-login {
        background: #141414; 
    }

    .titulo-logo{
        font-family: Arial, sans-serif;
    }

    .form-login{
        margin-bottom: 50px;
    }

    .form-login h2{
        margin-top: 0;
    }
}